<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Produto</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="css/index.css"/>
	<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
</head>

<body>
	<nav class="teal lighten-2">
		<div class="nav-wrapper">
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="cad_pessoa">Novo Membro</a></li>
			</ul>
		</div>
	</nav>

	<div class="container mt-20">

		<div class="slider">
			<ul class="slides">
				<li>
					<img src="img/igreja-capunga4.jpg">
				</li>
				<li>
					<img src="img/igreja-capunga.jpg">
				</li>
				<li>
					<img src="img/igreja-capunga2.jpg">
				</li>
				<li>
					<img src="img/igreja-capunga3.jpg">
				</li>
			</ul>
		</div>

	</div>


	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</body>

</html>